<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<div class="container"> 
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" routerLink="/">O</a>
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarsExampleDefault" [ngClass]="{'show': navbarOpen}">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/excess-inventory">Excess</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" routerLink="/sku-performace">SKU Performace</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/data-table">Performance Validation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/overall">Overall Inventory Performance</a>
        </li>
      </ul>
    </div>
  </nav>
</div> -->

<!-- <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">  <img src="https://www.a-star.edu.sg/images/librariesprovider27/default-album/astar_simtech_horizontal-logo_rgb.png" style="width:100px;background-color:white;"></a>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <ul class="px-3 icon">    
    <li class="nav-item">
      <a class="nav-link waves-effect waves-light">
        <fa-icon [icon]="faBell"></fa-icon>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link waves-effect waves-light">
        <fa-icon [icon]="faCog"></fa-icon>
      </a>
    </li>
  </ul>
</nav>

<div class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/overall">Overall Inventory Performance</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/excess-inventory">Excess Inventory Analysis</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/sku-performace">SKU Performace</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/data-table">Performance Validation</a>
      </li>
    </ul>
  </div>
</div> -->




