<div class="content content-fixed">
    <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
        <div class="d-sm-flex justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
            <div>
                <nav aria-label="breadcrumb">
                </nav>

                <h4 class="mg-b-0 tx-spacing--1">Dashboards</h4>
            </div>
            <div class="mg-t-10 d-flex justify-content-end">

            </div>
        </div>

        <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutAlign="flex-start">
            <app-card fxFlex="0 1 calc(25% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
                <div gdAreas="header|A |footer" gdGap="16px" gdRows="auto auto auto">
                    <div gdArea="A">
                        <a routerLink="/overall">
                            <div mat-card-image class="card card-body">
                                <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Dashboard A
                                </h6>
                                <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1">Overall Inventory</h3>
                            </div>
                        </a>
                    </div>
                </div>
            </app-card>
            <app-card fxFlex="0 1 calc(25% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
                <div gdAreas="header|A |footer" gdGap="16px" gdRows="auto auto auto">
                    <div gdArea="A">
                        <a routerLink="/excess-inventory">
                            <div mat-card-image class="card card-body">
                                <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Dashboard B
                                </h6>
                                <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1">Exces Inventory Analysis</h3>


                            </div>
                        </a>
                    </div>
                </div>
            </app-card>

            <app-card fxFlex="0 1 calc(25% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
                <div gdAreas="header|A |footer" gdGap="16px" gdRows="auto auto auto">
                    <div gdArea="A">
                        <a routerLink="/sku-performace">
                            <div mat-card-image class="card card-body">
                                <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Dashboard C
                                </h6>
                                <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1">SKU Performance</h3>


                            </div>
                        </a>
                    </div>
                </div>
            </app-card>

            <app-card fxFlex="0 1 calc(25%- 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
                <div gdAreas="header|A |footer" gdGap="16px" gdRows="auto auto auto">
                    <div gdArea="A">
                        <a routerLink="/data-table">
                            <div mat-card-image class="card card-body">
                                <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Dashboard D
                                </h6>
                                <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1">Performance Validation</h3>


                            </div>
                        </a>
                    </div>
                </div>
            </app-card>
        </div>

        <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutAlign="flex-start">
            <app-card fxFlex="0 1 calc(75% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
                <div gdAreas="header|A |footer" gdGap="16px" gdRows="auto auto auto">
                    <div gdArea="A">
                        <div class="canvas-area">
                            <div mat-card-image class="card card-body">

                                <div class="card-header">
                                    <div class="d-sm-flex justify-content-between bd-b-0 pd-t-0 pd-b-0">
                                        <div class="mg-b-0 mg-sm-b-0">
                                            <h6 class="mg-b-0">Monthly Costs and Turns of Selected Categories</h6>

                                        </div>
                                        <div fxLayout="column" fxLayoutAlign="space-around center">
                                            <ul
                                                class="list-inline tx-uppercase tx-10 tx-medium tx-spacing-1 tx-color-03 mg-b-0">
                                                <li class="list-inline-item tx-primary">
                                                    <a href="/">
                                                        <span class="d-inline-block wd-7 ht-7 rounded-circle mg-r-5"
                                                            style="background-color: #F8AF69;"></span>
                                                        <span class="number"></span>$191,562
                                                    </a>
                                                    <h5 class="tx-normal tx-rubik mg-b-0">------------<small
                                                            class="tx-color-04"></small>
                                                    </h5>
                                                    <h5 class="tx-normal tx-rubik mg-b-0">COGS<small
                                                            class="tx-color-04"></small>
                                                    </h5>
                                                </li>
                                                <li class="list-inline-item tx-primary">
                                                    <a href="/singapore/dashboard/symptomatic">
                                                        <span class="d-inline-block wd-7 ht-7 rounded-circle mg-r-5"
                                                            style="background-color: #F8AF69;"></span>
                                                        <span class="d-none d-md-inline"></span>$367,407
                                                    </a>
                                                    <h5 class="tx-normal tx-rubik mg-b-0">------------<small
                                                            class="tx-color-04"></small>
                                                    </h5>
                                                    <h5 class="tx-normal tx-rubik mg-b-0">Onhand<small
                                                            class="tx-color-04"></small>
                                                    </h5>
                                                </li>
                                                <li class="list-inline-item tx-primary">
                                                    <a href="/singapore/dashboard/symptomatic">
                                                        <span class="d-inline-block wd-7 ht-7 rounded-circle mg-r-5"
                                                            style="background-color: #F8AF69;"></span>
                                                        <span class="d-none d-md-inline"></span> &nbsp; 0.5
                                                    </a>
                                                    <h5 class="tx-normal tx-rubik mg-b-0">------------<small
                                                            class="tx-color-04"></small>
                                                    </h5>
                                                    <h5 class="tx-normal tx-rubik mg-b-0">Turns<small
                                                            class="tx-color-04"></small>
                                                    </h5>
                                                </li>
                                                <li class="llist-inline-item tx-primary">
                                                    <a href="/singapore/dashboard/symptomatic">
                                                        <span class="d-inline-block wd-7 ht-7 rounded-circle mg-r-5"
                                                            style="background-color: #F8AF69;"></span>
                                                        <span class="d-none d-md-inline"></span>$277,731
                                                    </a>
                                                    <h5 class="tx-normal tx-rubik mg-b-0">------------<small
                                                            class="tx-color-04"></small>
                                                    </h5>
                                                    <h5 class="tx-normal tx-rubik mg-b-0">Open Order<small
                                                            class="tx-color-04"></small>
                                                    </h5>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>


                                    <div class="d-sm-flex justify-content-between bd-b-0 pd-t-0 pd-b-0">
                                        <div class="mg-b-10 mg-sm-b-0">
                                            <!-- <p class="tx-12 tx-color-03 mg-b-0">Category Dropdown</p> -->
                                            <mat-form-field>
                                                <mat-label>Past</mat-label>
                                                <select matNativeControl required ngModel name="newVal" id="newVal"
                                                    class="form-control" (change)="onChange($event)">
                                                    <option *ngFor="let c of timeStamp">
                                                        {{c}}
                                                    </option>
                                                </select>
                                            </mat-form-field>
                                        </div>

                                    </div>




                                </div>
                                <div class="chartWrapper">
                                    <div class="canvasHead"> 
                                    <div class="chartAreaCanvasWrapper">
                                        <div class="chartAreaWrapperChart">
                                <canvas id="canvas"></canvas>
                            </div>
                            </div>
                        </div>
                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </app-card>
            <app-card fxFlex="0 1 calc(25% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
                <div gdAreas="header|A |footer" gdGap="16px" gdRows="auto auto auto">
                    <div gdArea="A">
                        <a href="http://localhost:4200/excess-inventory">
                            <div mat-card-image class="card card-body">

                                <div class="card-header">
                                    <div class="d-sm-flex justify-content-between bd-b-0 pd-t-0 pd-b-0">
                                        <div class="mg-b-0 mg-sm-b-0">
                                            <h6 class="mg-b-0">Excess Inventory Analysis</h6>
                                        </div>
                                    </div>



                                </div>
                                <canvas _ngcontent-jbw-c234="" id="doughnutChart" width="218" height="365"
                                    class="chartjs-render-monitor"
                                    style="display: block; width: 218px; height: 219px;"></canvas>

                                <div class="card-footer pd-20">
                                    <div class="row">
                                        <div class="col-6">
                                            <p class="tx-10 tx-uppercase tx-medium tx-color-03 tx-spacing-1 mg-b-5">
                                                OnHand
                                            </p>
                                            <div class="d-flex align-items-center">
                                                <div class="wd-10 ht-10 rounded-circle bg-primary mg-r-5"></div>
                                                <h5 class="tx-normal tx-rubik mg-b-0">331 <small
                                                        class="tx-color-04">59.3%</small>
                                                </h5>
                                            </div>
                                        </div><!-- col -->
                                        <div class="col-6">
                                            <p
                                                class="tx-10 tx-uppercase tx-medium tx-color-03 tx-spacing-1 tx-nowrap mg-b-5">
                                                Open
                                                Order
                                            </p>
                                            <div class="d-flex align-items-center">
                                                <div class="wd-10 ht-10 rounded-circle bg-pink mg-r-5"></div>
                                                <h5 class="tx-normal tx-rubik mg-b-0">227 <small
                                                        class="tx-color-04">40.7%</small>
                                                </h5>
                                            </div>
                                        </div><!-- col -->
                                    </div><!-- row -->
                                </div><!-- card-footer -->
                            </div>
                        </a>
                    </div>
                </div>
            </app-card>


        </div>


        <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutAlign="flex-start">

            <app-card fxFlex="0 1 calc(25% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
                <div gdAreas="header|A |footer" gdGap="16px" gdRows="auto auto auto">
                    <div gdArea="A">

                        <div mat-card-image class="card card-body">

                            <div class="card-header">
                                <div class="d-sm-flex justify-content-between bd-b-0 pd-t-0 pd-b-0">
                                    <div class="mg-b-0 mg-sm-b-0">
                                        <h6 class="mg-b-0">Excess Inventory Analysis</h6>
                                    </div>
                                </div>



                            </div>
                            <canvas _ngcontent-jbw-c234="" id="doughnutChart2" width="218" height="280"
                                class="chartjs-render-monitor"
                                style="display: block; width: 218px; height: 180px;"></canvas>

                            <div class="card-footer pd-20">
                                <div class="row">
                                    <div class="col-6">
                                        <p class="tx-10 tx-uppercase tx-medium tx-color-03 tx-spacing-1 mg-b-5">OnHand
                                        </p>
                                        <div class="d-flex align-items-center">
                                            <div class="wd-10 ht-10 rounded-circle bg-primary mg-r-5"></div>
                                            <h5 class="tx-normal tx-rubik mg-b-0">331 <small
                                                    class="tx-color-04">59.3%</small>
                                            </h5>
                                        </div>
                                    </div><!-- col -->
                                    <div class="col-6">
                                        <p
                                            class="tx-10 tx-uppercase tx-medium tx-color-03 tx-spacing-1 tx-nowrap mg-b-5">
                                            Open
                                            Order
                                        </p>
                                        <div class="d-flex align-items-center">
                                            <div class="wd-10 ht-10 rounded-circle bg-pink mg-r-5"></div>
                                            <h5 class="tx-normal tx-rubik mg-b-0">227 <small
                                                    class="tx-color-04">40.7%</small>
                                            </h5>
                                        </div>
                                    </div><!-- col -->
                                </div><!-- row -->
                            </div><!-- card-footer -->
                        </div>
                    </div>
                </div>
            </app-card>
            <app-card fxFlex="0 1 calc(75% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
                <div gdAreas="header|A |footer" gdGap="16px" gdRows="auto auto auto">
                    <div gdArea="A">

                        <div mat-card-image class="card card-body">

                            <div class="card-header">
                                <div class="d-sm-flex justify-content-between bd-b-0 pd-t-0 pd-b-0">
                                    <div class="mg-b-0 mg-sm-b-0">
                                        <h6 class="mg-b-0">Total COGS vs. Avg Onhand Cost for Past 6 Months
                                        </h6>
                                    </div>

                                    <ul
                                        class="list-inline tx-uppercase tx-10 tx-medium tx-spacing-1 tx-color-03 mg-b-0">
                                        <li class="list-inline-item">
                                            <a href="/">
                                                <span class="d-inline-block wd-7 ht-7 rounded-circle mg-r-5"
                                                    style="background-color: #F8AF69;"></span>
                                                <span class="number"></span>$191,562
                                            </a>
                                            <h5 class="tx-normal tx-rubik mg-b-0">--------------------------<small
                                                    class="tx-color-04"></small>
                                            </h5>
                                            <h5 class="tx-normal tx-rubik mg-b-0">Average Onhand Cost
                                                <small class="tx-color-04"></small>
                                            </h5>
                                        </li>
                                        <li class="list-inline-item mg-l-10">
                                            <a href="/singapore/dashboard/symptomatic">
                                                <span class="d-inline-block wd-7 ht-7 rounded-circle mg-r-5"
                                                    style="background-color: #F8AF69;"></span>
                                                <span class="d-none d-md-inline"></span>$367,407
                                            </a>
                                            <h5 class="tx-normal tx-rubik mg-b-0">------------<small
                                                    class="tx-color-04"></small>
                                            </h5>
                                            <h5 class="tx-normal tx-rubik mg-b-0">Total Turns<small
                                                    class="tx-color-04"></small>
                                            </h5>
                                        </li>

                                    </ul>
                                </div>


                            </div>
                            <div class="chartWrapper">
                                <div class="chartAreaWrapper">
                                    <div class="chartAreaWrapperBarChart">
                                        <canvas baseChart id="barChart" class="chart"></canvas>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </app-card>



        </div>




        <div class="row row-xs">




            <!-- gender over time -->
            <div class="col-lg-6 mg-t-10">
                <div class="card">
                    <div class="card-header pd-b-0 bd-b-0 pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25">
                        <h6 class="mg-b-5">Inventory Turns</h6>
                        <p class="tx-12 tx-color-03 mg-b-0">
                        </p>
                    </div><!-- card-header -->
                    <div class="card-body pd-sm-20 pd-lg-25">
                        <div class="row row-sm">
                            <div class="col">
                                <div class="media">
                                    <div
                                        class="wd-40 ht-40 bg-primary tx-white d-flex align-items-center justify-content-center rounded op-5">
                                        <ion-icon name="man-outline" class="wd-20 ht-20 md hydrated" role="img"
                                            aria-label="man outline"></ion-icon>
                                    </div>
                                    <div class="media-body mg-l-10">
                                        <h4 class="tx-normal tx-rubik tx-spacing--2 lh-1 mg-b-5"></h4>
                                        <p
                                            class="tx-10 tx-uppercase tx-medium tx-color-03 tx-spacing-1 tx-nowrap mg-b-0">
                                        </p>
                                    </div>

                                    <!-- media-body -->
                                </div><!-- media -->
                            </div><!-- col -->
                            <div class="col">
                                <div class="media">
                                    <div
                                        class="wd-40 ht-40 bg-pink tx-white d-flex align-items-center justify-content-center rounded op-5">
                                        <ion-icon name="woman-outline" class="wd-20 ht-20 md hydrated" role="img"
                                            aria-label="woman outline"></ion-icon>
                                    </div>
                                    <div class="media-body mg-l-10">
                                        <h4 class="tx-normal tx-rubik tx-spacing--2 lh-1 mg-b-5"></h4>
                                        <p
                                            class="tx-10 tx-uppercase tx-medium tx-color-03 tx-spacing-1 tx-nowrap mg-b-0">
                                        </p>
                                    </div><!-- media-body -->
                                </div><!-- media -->
                            </div><!-- col -->

                        </div>

                        <div class="chart-eight">
                            <div id="age_flot" class="flot-chart" style="padding: 0px; position: relative;">
                                <canvas id="line2" width="226" height="78" class="chartjs-render-monitor"
                                    style="display: block; width: 226px; height: 228px;"></canvas>
                            </div>
                        </div>
                    </div><!-- card-body -->
                </div><!-- card -->
            </div><!-- col -->

            <!-- infection source over time -->
            <div class="col-lg-6 mg-t-10">
                <a href="/singapore/dashboard/infection_sources">
                    <div class="card">
                        <div class="card-header pd-b-0 bd-b-0 pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25">
                            <h6 class="tx-color-02">Excess Inventory Analysis</h6>
                            <p class="tx-12 tx-color-03 mg-b-0">Update Target
                            </p>
                        </div><!-- card-header -->
                        <div class="card-body pd-sm-20 pd-lg-25">
                            <div class="row row-sm">
                                <div class="col">
                                    <div class="media">
                                        <div
                                            class="wd-40 ht-40 bg-primary tx-white d-flex align-items-center justify-content-center rounded op-5">
                                            <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"
                                                class="feather feather-wifi wd-20 ht-20">
                                                <path d="M5 12.55a11 11 0 0 1 14.08 0"></path>
                                                <path d="M1.42 9a16 16 0 0 1 21.16 0"></path>
                                                <path d="M8.53 16.11a6 6 0 0 1 6.95 0"></path>
                                                <line x1="12" y1="20" x2="12" y2="20"></line>
                                            </svg> -->
                                        </div>
                                        <div class="media-body mg-l-10">
                                            <h4 class="tx-normal tx-rubik tx-spacing--2 lh-1 mg-b-5"></h4>
                                            <p
                                                class="tx-10 tx-uppercase tx-medium tx-color-03 tx-spacing-1 tx-nowrap mg-b-0">
                                                <span class="d-none d-xl-inline"></span></p>
                                        </div><!-- media-body -->
                                    </div><!-- media -->
                                </div><!-- col -->
                                <div class="col">
                                    <div class="media">
                                        <div
                                            class="wd-40 ht-40 bg-pink tx-white d-flex align-items-center justify-content-center rounded op-5">

                                        </div>
                                        <div class="media-body mg-l-10">
                                            <h4 class="tx-normal tx-rubik tx-spacing--2 lh-1 mg-b-5"></h4>
                                            <p
                                                class="tx-10 tx-uppercase tx-medium tx-color-03 tx-spacing-1 tx-nowrap mg-b-0">
                                                <span class="d-none d-xl-inline"></span></p>
                                        </div><!-- media-body -->
                                    </div><!-- media -->
                                </div><!-- col -->

                            </div><!-- row -->

                          
                                    
                            <div class="chartWrapper">
                                <div class="chartAreaStackedBarWrapper">
                                    <div class="chartAreaWrapperstackedBarChart">
                                        <canvas baseChart id="stackedBarChart" height="500px" class="chart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div><!-- card-body -->
                    </div><!-- card -->
                </a> </div><!-- col -->


            <!-- clusters -->
            <div class="col-lg-212 mg-t-10 order-xl-1">
                <div class="card ht-lg-100p">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h6 class="mg-b-0">SKU Performance Analysis: Performance History</h6>
                        <div class="tx-13 d-flex align-items-center">
                        </div>
                    </div><!-- card-header -->
                    <div class="card-body pd-0">
                        <div class="chart-eight">
                            <div id="infection_source_flot" class="flot-chart"
                                style="padding: 0px; position: relative;"> <canvas id="mixedChart2" width="226"
                                    height="178" class="chartjs-render-monitor"
                                    style="display: block; width: 226px; height: 228px;"></canvas>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-borderless table-dashboard table-dashboard-one">
                                <thead>
                                    <tr>
                                        <th class="wd-40">SKU Code: SKU1003</th>
                                        <th class="wd-25 text-right">SKU Name:Name-1003</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="tx-medium">Avg Onhand(6 month): </td>

                                        <td class="text-right">217</td>
                                    </tr>
                                    <tr>
                                        <td class="tx-medium">Avg Turns(6 month):</td>

                                        <td class="text-right">212</td>
                                    </tr>
                                    <tr>
                                        <td class="tx-medium">Current Onhand:</td>

                                        <td class="text-right">285</td>
                                    </tr>
                                    <tr>
                                        <td class="tx-medium">Current OpenOrder:</td>

                                        <td class="text-right">222</td>
                                    </tr>

                                </tbody>
                            </table>

                            <table class="table table-borderless table-dashboard table-dashboard-one">
                                <thead>
                                    <tr>
                                        <th class="wd-40">Inventory Planning</th>


                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="tx-medium">Target IP: </td>

                                        <td class="text-right">201</td>
                                    </tr>
                                    <tr>
                                        <td class="tx-medium">Target Turns:</td>

                                        <td class="text-right">3.6</td>
                                    </tr>
                                    <tr>
                                        <td class="tx-medium">ROP:</td>

                                        <td class="text-right">164</td>
                                    </tr>
                                    <tr>
                                        <td class="tx-medium">Max Level:</td>

                                        <td class="text-right">255</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div><!-- table-responsive -->
                    </div><!-- card-body -->
                </div><!-- card -->
            </div><!-- col -->

            <!-- table and help -->

            <!-- infection source over time -->
            <div class="col-lg-6 mg-t-10">
                <a href="/singapore/dashboard/infection_sources">
                    <div class="card">
                        <div class="card-header pd-b-0 bd-b-0 pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25">
                            <h6 class="tx-color-02">Demand Trend</h6>

                        </div><!-- card-header -->
                        <div class="card-body pd-sm-20 pd-lg-25">
                            <div class="row row-sm">
                                <div class="col">
                                    <div class="media">
                                        <div
                                            class="wd-40 ht-40 bg-primary tx-white d-flex align-items-center justify-content-center rounded op-5">
                                            <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"
                                                class="feather feather-wifi wd-20 ht-20">
                                                <path d="M5 12.55a11 11 0 0 1 14.08 0"></path>
                                                <path d="M1.42 9a16 16 0 0 1 21.16 0"></path>
                                                <path d="M8.53 16.11a6 6 0 0 1 6.95 0"></path>
                                                <line x1="12" y1="20" x2="12" y2="20"></line>
                                            </svg> -->
                                        </div>
                                        <div class="media-body mg-l-10">
                                            <h4 class="tx-normal tx-rubik tx-spacing--2 lh-1 mg-b-5"></h4>
                                            <p
                                                class="tx-10 tx-uppercase tx-medium tx-color-03 tx-spacing-1 tx-nowrap mg-b-0">
                                                <span class="d-none d-xl-inline"></span></p>
                                        </div><!-- media-body -->
                                    </div><!-- media -->
                                </div><!-- col -->
                                <div class="col">
                                    <div class="media">
                                        <div
                                            class="wd-40 ht-40 bg-pink tx-white d-flex align-items-center justify-content-center rounded op-5">
                                            <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"
                                                class="feather feather-send wd-20 ht-20">
                                                <line x1="22" y1="2" x2="11" y2="13"></line>
                                                <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
                                            </svg> -->
                                        </div>
                                        <div class="media-body mg-l-10">
                                            <h4 class="tx-normal tx-rubik tx-spacing--2 lh-1 mg-b-5"></h4>
                                            <p
                                                class="tx-10 tx-uppercase tx-medium tx-color-03 tx-spacing-1 tx-nowrap mg-b-0">
                                                <span class="d-none d-xl-inline"></span></p>
                                        </div><!-- media-body -->
                                    </div><!-- media -->
                                </div><!-- col -->

                            </div><!-- row -->

                            <div class="chart-eight">
                                <div id="infection_source_flot" class="flot-chart"
                                    style="padding: 0px; position: relative;"> <canvas id="mixedChart" width="226"
                                        height="78" class="chartjs-render-monitor"
                                        style="display: block; width: 226px; height: 228px;"></canvas>
                                </div>
                            </div>
                        </div><!-- card-body -->
                    </div><!-- card -->
                </a> </div><!-- col -->


            <div class="col-lg-6 mg-t-10">
                <a href="/singapore/dashboard/infection_sources">
                    <div class="card">
                        <div class="card-header pd-b-0 bd-b-0 pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25">
                            <h6 class="tx-color-02">Inventory Position Vs Lead-Time Demand(Weekly Basics)</h6>

                        </div><!-- card-header -->
                        <div class="card-body pd-sm-20 pd-lg-25">

                            <div class="chart-eight">
                                <div id="infection_source_flot" class="flot-chart"
                                    style="padding: 0px; position: relative;"> <canvas id="line" width="226" height="78"
                                        class="chartjs-render-monitor"
                                        style="display: block; width: 226px; height: 228px;"></canvas>
                                </div>
                            </div>
                        </div><!-- card-body -->
                    </div><!-- card -->
                </a> </div><!-- col -->


        </div><!-- row -->
    </div><!-- container -->
</div>