<div fxShow="{{!nav.visible}}" >
<mat-sidenav-container class="sidenav-container">
 <!-- *ngIf="isLoggedIn$">  -->
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar> <span routerLink="/overall"><img class="img-responsive" src="assets/" style="width:150px;"></span></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/claimdetail">View Claim History</a>
      <!-- <a mat-list-item routerLink="/sku-performace">Review Claim</a>
      <a mat-list-item routerLink="/performance">Performance Summary</a>
      <a mat-list-item routerLink="/data-table">Performace Validation</a> -->
      <a mat-list-item routerLink="/data-table">Review Claim</a>
      <!-- <a mat-list-item routerLink="/claimhistory">Review Claim</a> -->
      <!-- <a mat-list-item routerLink="/overall" >Overall Inventory Performance</a>
      <a mat-list-item routerLink="/excess-inventory">Excess Inventory Analysis</a>
      <a mat-list-item routerLink="/sku-performace">SKU Performace</a>
      <a mat-list-item routerLink="/dashboard">Dashboard</a>
      <a mat-list-item routerLink="/performance">Performance Summary</a>
      <a mat-list-item routerLink="/products">Test</a> -->
      <!-- <a mat-list-item style="margin-top: 50px;">
        <mat-form-field>
          <mat-list-item style="color: white;">Category</mat-list-item >
          <select matNativeControl required ngModel name="category" id="category"
              class="form-control" (change)="onChange($event)">
              <option *ngFor="let c of cat">
                  {{c}}
              </option>
          </select>
      </mat-form-field>

      </a>

      <a mat-list-item style="margin-top: 50px;">
        <mat-form-field >
          <mat-list-item style="color: white;">Category</mat-list-item >
          <mat-select multiple placeholder="">
            <mat-option (onSelectionChange)="changed($event)" *ngFor="let c of cat" [value]="c">
              {{ c }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </a>
      
      <a mat-list-item style="margin-top: 50px;">
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <input type="text" 
                   placeholder="Pick one"
                   aria-label="Number"
                   matInput
                   [formControl]="myControl"
                   [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </a> -->
      


     
     
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <fa-icon [icon]="faBars"></fa-icon>
      </button>
      <span class="spacer"></span>
      <a mat-list-item><fa-icon [icon]="faHome"></fa-icon> </a>
      <a mat-list-item><fa-icon [icon]="faArrowLeft"></fa-icon> </a>
      <!-- <li><a [routerLink]="['/login']">Logout</a></li> -->
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
</div>