.sidenav-container {
  height: 100%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}


.sidenav {
  width: 200px;
}

.mat-nav-list a
{
  background-color:#ee8910;
  color: white;


}

.mat-select-value {
  color:  white;
}


.not-empty-select.mat-selected {
  color: white !important;
}

:host /deep/ .mat-select-value-text {
  color: white !important;
}


.mat-button
{
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
}

a:hover {
  background-color: green;
}

.mat-sidenav
{
  background-color: #ee8910;
}

.sidenav .mat-toolbar {
  background: #ee8910;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-toolbar.mat-primary {
  background:#ee8910;
  color: #fff;
}

.spacer{
  flex:1 1 auto;
}

.mat-toolbar a{
  display: inline-block;
  margin:0 10px;
  color: white;
  text-decoration: no;
  border: 1px solid;
  padding: 10px;
  border-radius: 15px;
  opacity:1;

}




