p {
  font-family: Lato;
}

#container {
  position: absolute;  
  left: 0;
  top: 0;
  width: 100%;
  overflow-x: hidden;
}

#scrollArea {
  width: 800px;  
  overflow-x: scroll;
}

#chartArea {
  width: 1200px;  
}

#chartAxis {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}
