<!-- <div class="content content-fixed">
  <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
    <div class="d-sm-flex justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
      <div class="header">
        <h1>Overall Inventory Performance Dashboard</h1>
      </div>
    </div>

    <div class="list" fxLayout="row" fxLayoutAlign="space-around center">
   
        <div class="list-inline-item">
          <h5 class="tx-normal tx-rubik title1">COGS </h5>
          <h5 class="tx-normal tx-rubik number">$209,344</h5>
        </div>
        <div class="list-inline-item">
          <h5 class="tx-normal tx-rubik title2">ONHAND </h5>
          <h5 class="tx-normal tx-rubik number">$384,755</h5>
        </div>
        <div class="list-inline-item">
          <h5 class="tx-normal tx-rubik title3">OPEN ORDER </h5>
          <h5 class="tx-normal tx-rubik number">$277,179</h5>
        </div>
        <div class="list-inline-item">
          <h5 class="tx-normal tx-rubik title4">TURNS </h5>
          <h5 class="tx-normal tx-rubik number">0.3</h5>
        </div>
    
    </div>


    <div class="chart">
      <canvas id="canvas"></canvas>
    </div>

    <div flex fxLayout="row">
      <div fxFlex="50" class="chart">
        <canvas id="line2"></canvas>
      </div>
      <div fxFlex="33" class="chart">
        <canvas id="barChart"></canvas>
      </div>
    </div>








  </div>
</div> -->


<html>

<body>
  <div class="content content-fixed">

    <div class="d-sm-flex justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
      <div class="header">
        <h1>Overall Inventory Performance Dashboard</h1>
      </div>
    </div>

    <!-- <div class="list" fxLayout="row" fxLayoutAlign="space-between center">

        <div class="list-inline-item">
          <h5 class="tx-normal tx-rubik title1">TOTAL COGS($)(6 months) </h5>
          <h5 class="tx-normal tx-rubik number">$634,955</h5>
        </div>

        <div class="list-inline-item">
          <h5 class="tx-normal tx-rubik title1">Total Turns(6 months)</h5>
          <h5 class="tx-normal tx-rubik number">2.1</h5>
        </div>
        <div class="list-inline-item">
          <h5 class="tx-normal tx-rubik title1">On HAND </h5>
          <h5 class="tx-normal tx-rubik number">$380,272</h5>
        </div>
        <div class="list-inline-item">
          <h5 class="tx-normal tx-rubik title2">OPEN ORDER </h5>
          <h5 class="tx-normal tx-rubik number">$281,391</h5>
        </div>
        <div class="list-inline-item">
          <h5 class="tx-normal tx-rubik title3">THRESHOLD COST</h5>
          <h5 class="tx-normal tx-rubik number">$758,693</h5>
        </div>
        <div class="list-inline-item">
          <h5 class="tx-normal tx-rubik title4">EXCESS INVENTORY</h5>
          <h5 class="tx-normal tx-rubik number">0.3</h5>
        </div>

    </div> -->



    <div>

      <div class="row" style="margin-top: 40px;">

        <div class="col-sm-12 col-lg-6 header1">

          <div class="mb-3 card2">

            <div class="card-header-tab header3">
              <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutAlign="flex-start">
                <app-card fxFlex="0 1 calc(50% - 32px)" fxFlex.lt-md="0 1 calc(25% - 32px)" fxFlex.lt-sm="50%">
                  <div gdAreas="header|A |footer" gdGap="16px" gdRows="auto auto auto">
                    <div gdArea="A">
                      <a routerLink="/overall">
                        <div mat-card-image class="card card-body title1">
                          <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">$634,955
                          </h6>
                          <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1">TOTAL COGS($)(6 months)</h3>
                        </div>
                      </a>
                    </div>
                  </div>
                </app-card>
                <app-card fxFlex="0 1 calc(50% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
                  <div gdAreas="header|A |footer" gdGap="16px" gdRows="auto auto auto">
                    <div gdArea="A">
                      <a routerLink="/excess-inventory">
                        <div mat-card-image class="card card-body title2">
                          <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">2.1
                          </h6>
                          <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1">Total Turns(6 months)</h3>


                        </div>
                      </a>
                    </div>
                  </div>
                </app-card>


              </div>
            </div>
          </div>
        </div>


        <div class="col-sm-12 col-lg-6 header1">
          <div class="mb-3 card3 ">

            <div class="card-header-tab header3">
              <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutAlign="flex-start">
                <app-card fxFlex="0 1 calc(25% - 32px)" fxFlex.lt-md="0 1 calc(25% - 32px)" fxFlex.lt-sm="50%">
                  <div gdAreas="header|A |footer" gdGap="16px" gdRows="auto auto auto">
                    <div gdArea="A">
                      <a routerLink="/overall">
                        <div mat-card-image class="card card-body title1">
                          <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">$190,764
                          </h6>
                          <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1">Total on-hand($)</h3>
                        </div>
                      </a>
                    </div>
                  </div>
                </app-card>
                <app-card fxFlex="0 1 calc(25% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
                  <div gdAreas="header|A |footer" gdGap="16px" gdRows="auto auto auto">
                    <div gdArea="A">
                      <a routerLink="/excess-inventory">
                        <div mat-card-image class="card card-body title2">
                          <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">$144,797
                          </h6>
                          <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1">Total Open Order($)</h3>


                        </div>
                      </a>
                    </div>
                  </div>
                </app-card>

                <app-card fxFlex="0 1 calc(25% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
                  <div gdAreas="header|A |footer" gdGap="16px" gdRows="auto auto auto">
                    <div gdArea="A">
                      <a routerLink="/sku-performace">
                        <div mat-card-image class="card card-body title3">
                          <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">$122,749
                          </h6>
                          <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1">Total Threshold Cost $</h3>


                        </div>
                      </a>
                    </div>
                  </div>
                </app-card>

                <app-card fxFlex="0 1 calc(25%- 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
                  <div gdAreas="header|A |footer" gdGap="16px" gdRows="auto auto auto">
                    <div gdArea="A">
                      <a routerLink="/data-table">
                        <div mat-card-image class="card card-body title4">
                          <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">$93,678
                          </h6>
                          <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1">Total Excess Inventory $</h3>


                        </div>
                      </a>
                    </div>
                  </div>
                </app-card>
              </div>



            </div>


          </div>
        </div>






      </div>
      <div class="row" style="margin-top: 40px;">

        <div class="col-sm-12 col-lg-6">
          <div class="mb-3 card ">

            <div class="card-header-tab card-header">
              <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                <i class="header-icon lnr-cloud-download icon-gradient bg-happy-itmeo"> </i>
                Performance History
              </div>

              <mat-form-field>
                <mat-list-item style="color: white;">Category</mat-list-item>
                <select matNativeControl required ngModel name="category" id="category" class="form-control"
                  (change)="onChange($event)">
                  <option *ngFor="let c of timeStamp">
                    {{c}}
                  </option>
                </select>
              </mat-form-field>
            
              <mat-form-field>
                <mat-list-item style="color: white;">Category</mat-list-item>
                <select matNativeControl required ngModel name="chart" id="chartType" class="form-control"
                  (change)="onChangeChart($event)">
                  <option *ngFor="let c of charts">
                    {{c}}
                  </option>
                </select>
              </mat-form-field>

              <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutAlign="flex-start">
                <app-card fxFlex="0 1 calc(25% - 32px)" fxFlex.lt-md="0 1 calc(25% - 32px)" fxFlex.lt-sm="50%">
                  <div gdAreas="header|A |footer" gdGap="16px" gdRows="auto auto auto">
                    <div gdArea="A">
                      <a routerLink="/overall">
                        <div mat-card-image class="card card-body title1">
                          <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">$209,344
                          </h6>
                          <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1">COGS</h3>
                        </div>
                      </a>
                    </div>
                  </div>
                </app-card>
                <app-card fxFlex="0 1 calc(25% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
                  <div gdAreas="header|A |footer" gdGap="16px" gdRows="auto auto auto">
                    <div gdArea="A">
                      <a routerLink="/excess-inventory">
                        <div mat-card-image class="card card-body title2">
                          <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">$384,755
                          </h6>
                          <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1">ONHAND</h3>


                        </div>
                      </a>
                    </div>
                  </div>
                </app-card>

                <app-card fxFlex="0 1 calc(25% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
                  <div gdAreas="header|A |footer" gdGap="16px" gdRows="auto auto auto">
                    <div gdArea="A">
                      <a routerLink="/sku-performace">
                        <div mat-card-image class="card card-body title3">
                          <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">$$277,179
                          </h6>
                          <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1">OPEN ORDER</h3>


                        </div>
                      </a>
                    </div>
                  </div>
                </app-card>

                <app-card fxFlex="0 1 calc(25%- 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
                  <div gdAreas="header|A |footer" gdGap="16px" gdRows="auto auto auto">
                    <div gdArea="A">
                      <a routerLink="/data-table">
                        <div mat-card-image class="card card-body title4">
                          <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">0.3
                          </h6>
                          <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1">TURNS</h3>


                        </div>
                      </a>
                    </div>
                  </div>
                </app-card>
              </div>



            </div>
            <!-- <div class="chartWrapper"> 
              <div class="chartAreaWrapperBarChart"> 
                <div class = "chartArreaWrapper2"> 
                 <canvas  #sourceCanvas id="sourceCanvas" height="350" width="1200"></canvas> 
              </div> 
            </div>
            <canvas #targetCanvas id="targetCanvas" height="350" width="0"></canvas> 
           </div>  -->
            <div class="chartWrapper">
              <div class="canvasHead">
                <div class="chartAreaCanvasWrapper">
                  <div class="chartAreaWrapperChart">
                    <canvas id="canvas"></canvas>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>

        <div class="col-sm-12 col-lg-6">
          <!-- <div class="mb-3 card">

            <div class="card-header-tab card-header">
              <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                <i class="header-icon lnr-cloud-download icon-gradient bg-happy-itmeo"> </i>
                Total COGS vs. Avg Onhand Cost For Past 6 Months
              </div>
            </div>

            <div class="chartWrapper">
              <div class="chartAreaWrapper">
                <div class="chartAreaWrapperBarChart">
                  <canvas baseChart id="barChart" class="chart"></canvas>
                </div>
              </div>
            </div>



          </div> -->

          <div class="row" style="margin-top: 40px;">

            <div class="col-sm-12 col-lg-6">

              <div class="mb-3 card">

                <div>
                  <canvas baseChart id="doughnutChart"></canvas>
                </div>

                <div class="card-footer pd-20">
                  <div class="row">
                    <div class="col-6">
                      <p class="tx-10 tx-uppercase tx-medium tx-color-03 tx-spacing-1 mg-b-5">OnHand
                      </p>
                      <div class="d-flex align-items-center">
                        <div class="wd-10 ht-10 rounded-circle bg-primary mg-r-5"></div>
                        <h5 class="tx-normal tx-rubik mg-b-0">331 <small class="tx-color-04">59.3%</small>
                        </h5>
                      </div>
                    </div><!-- col -->
                    <div class="col-6">
                      <p class="tx-10 tx-uppercase tx-medium tx-color-03 tx-spacing-1 tx-nowrap mg-b-5">
                        Open
                        Order
                      </p>
                      <div class="d-flex align-items-center">
                        <div class="wd-10 ht-10 rounded-circle bg-pink mg-r-5"></div>
                        <h5 class="tx-normal tx-rubik mg-b-0">227 <small class="tx-color-04">40.7%</small>
                        </h5>
                      </div>
                    </div><!-- col -->
                  </div><!-- row -->
                </div><!-- card-footer -->
              </div>

            </div>

            <div class="col-sm-12 col-lg-6">


              <div class="mb-3 card">
                <div>
                  <canvas baseChart id="doughnutChart2"></canvas>
                </div>

                <div class="card-footer pd-20">
                  <div class="row">
                    <div class="col-6">
                      <p class="tx-10 tx-uppercase tx-medium tx-color-03 tx-spacing-1 mg-b-5">Excess Cost
                      </p>
                      <div class="d-flex align-items-center">
                        <div class="wd-10 ht-10 rounded-circle bg-excess mg-r-5"></div>
                        <h5 class="tx-normal tx-rubik mg-b-0">331 <small class="tx-color-04">59.3%</small>
                        </h5>
                      </div>
                    </div><!-- col -->
                    <div class="col-6">
                      <p class="tx-10 tx-uppercase tx-medium tx-color-03 tx-spacing-1 tx-nowrap mg-b-5">
                        Threshold
                      </p>
                      <div class="d-flex align-items-center">
                        <div class="wd-10 ht-10 rounded-circle bg-thredshold mg-r-5"></div>
                        <h5 class="tx-normal tx-rubik mg-b-0">227 <small class="tx-color-04">40.7%</small>
                        </h5>
                      </div>
                    </div><!-- col -->
                  </div><!-- row -->
                </div><!-- card-footer -->
              </div>

            </div>
          </div>
        </div>





      </div>
      <!-- 
      <div class="row" style="margin-top: 20px;">

        <div class="col-sm-12 col-lg-6">
          <div class="mb-3 card">

            <div class="card-header-tab card-header">
              <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                <i class="header-icon lnr-cloud-download icon-gradient bg-happy-itmeo"> </i>
                Inventory Turns
              </div>
            </div>


            <div class="chartWrapper">
              <div class="chartAreaWrapper">
                <canvas baseChart id="line2" class="chart"></canvas>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-sm-12 col-lg-6">
          <div class="mb-3 card">

            <div class="card-header-tab card-header">
              <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                <i class="header-icon lnr-cloud-download icon-gradient bg-happy-itmeo"> </i>
                Scrollable Test
              </div>
          </div>

            <div class="chartWrapper"> 
              <div class="chartAreaWrapperBarChart"> 
                <div class = "chartArreaWrapper2"> 
                 <canvas  #sourceCanvas id="sourceCanvas" height="350" width="1200"></canvas> 
              </div> 
            </div>
            <canvas #targetCanvas id="targetCanvas" height="350" width="0"></canvas> 
           </div> 
         



          </div>
        </div>
      </div> -->
    </div>
  </div>

</body>

</html>