<!-- <div class="content content-fixed">
  <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
    <div class="d-sm-flex justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
      <div class="header">
        <h1>Overall Inventory Performance Dashboard</h1>
      </div>
    </div>

    <div class="list" fxLayout="row" fxLayoutAlign="space-around center">
   
        <div class="list-inline-item">
          <h5 class="tx-normal tx-rubik title1">COGS </h5>
          <h5 class="tx-normal tx-rubik number">$209,344</h5>
        </div>
        <div class="list-inline-item">
          <h5 class="tx-normal tx-rubik title2">ONHAND </h5>
          <h5 class="tx-normal tx-rubik number">$384,755</h5>
        </div>
        <div class="list-inline-item">
          <h5 class="tx-normal tx-rubik title3">OPEN ORDER </h5>
          <h5 class="tx-normal tx-rubik number">$277,179</h5>
        </div>
        <div class="list-inline-item">
          <h5 class="tx-normal tx-rubik title4">TURNS </h5>
          <h5 class="tx-normal tx-rubik number">0.3</h5>
        </div>
    
    </div>


    <div class="chart">
      <canvas id="canvas"></canvas>
    </div>

    <div flex fxLayout="row">
      <div fxFlex="50" class="chart">
        <canvas id="line2"></canvas>
      </div>
      <div fxFlex="33" class="chart">
        <canvas id="barChart"></canvas>
      </div>
    </div>








  </div>
</div> -->


<html>

<body>
  <div class="content content-fixed">

    <nav class="navbar navbar-expand-lg  bg-light">
      <a class="navbar-brand" href="#" style="color:black">Dashboard</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <div class="btn-group" role="group" aria-label="Basic example">

            <mat-button-toggle-group #group="matButtonToggleGroup" multiple=true>
              <mat-button-toggle *ngFor="let item of toggleOptions;" (change)="selectionChanged($event)" [value]="item">{{item}}</mat-button-toggle>
            </mat-button-toggle-group>
            <!-- <button type="submit" class="btn btn-secondary" value=6>Past 6 months</button>
            <button type="submit" class="btn btn-secondary" value=12>Past 1 year</button>
            <button type="submit" class="btn btn-secondary" value=24>Past 2 year</button> -->
          </div>
        </form>
      </div>
    </nav>

    <!-- <div class="list" fxLayout="row" fxLayoutAlign="space-between center">

        <div class="list-inline-item">
          <h5 class="tx-normal tx-rubik title1">TOTAL COGS($)(6 months) </h5>
          <h5 class="tx-normal tx-rubik number">$634,955</h5>
        </div>

        <div class="list-inline-item">
          <h5 class="tx-normal tx-rubik title1">Total Turns(6 months)</h5>
          <h5 class="tx-normal tx-rubik number">2.1</h5>
        </div>
        <div class="list-inline-item">
          <h5 class="tx-normal tx-rubik title1">On HAND </h5>
          <h5 class="tx-normal tx-rubik number">$380,272</h5>
        </div>
        <div class="list-inline-item">
          <h5 class="tx-normal tx-rubik title2">OPEN ORDER </h5>
          <h5 class="tx-normal tx-rubik number">$281,391</h5>
        </div>
        <div class="list-inline-item">
          <h5 class="tx-normal tx-rubik title3">THRESHOLD COST</h5>
          <h5 class="tx-normal tx-rubik number">$758,693</h5>
        </div>
        <div class="list-inline-item">
          <h5 class="tx-normal tx-rubik title4">EXCESS INVENTORY</h5>
          <h5 class="tx-normal tx-rubik number">0.3</h5>
        </div>

    </div> -->



    <div>

      <div class="row">

        <div class="col-sm-12 col-lg-6 header1">

          <div class="mb-3 card2">

            <div class="card-header-tab header3">
              <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutAlign="flex-start">
                <app-card fxFlex="0 1 calc(50% - 32px)" fxFlex.lt-md="0 1 calc(25% - 32px)" fxFlex.lt-sm="50%">
                  <div gdAreas="header|A |footer" gdGap="16px" gdRows="auto auto auto">
                    <div gdArea="A">
                      <a routerLink="/overall">
                        <div mat-card-image class="cardHeading card-body totolCOG">
                          <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8 title1">TOTAL
                            COGS($)(6 months)
                          </h6>
                          <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1">$634,955</h3>
                        </div>
                      </a>
                    </div>
                  </div>
                </app-card>
                <app-card fxFlex="0 1 calc(50% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
                  <div gdAreas="header|A |footer" gdGap="16px" gdRows="auto auto auto">
                    <div gdArea="A">
                      <a routerLink="/excess-inventory">
                        <div mat-card-image class="cardHeading card-body totalTurns">
                          <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8 title2">Total
                            Turns(6 months)
                          </h6>
                          <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1">2.1</h3>


                        </div>
                      </a>
                    </div>
                  </div>
                </app-card>


              </div>
            </div>
          </div>
        </div>


        <div class="col-sm-12 col-lg-6 header1">
          <div class="mb-3 card3 ">

            <div class="card-header-tab header3">
              <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutAlign="flex-start">
                <app-card fxFlex="0 1 calc(25% - 32px)" fxFlex.lt-md="0 1 calc(25% - 32px)" fxFlex.lt-sm="50%">
                  <div gdAreas="header|A |footer" gdGap="16px" gdRows="auto auto auto">
                    <div gdArea="A">
                      <a routerLink="/overall">
                        <div mat-card-image class="cardHeading card-body totalonHand">
                          <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8 title1">Total
                            on-hand($)
                          </h6>
                          <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1">$190,764</h3>
                        </div>
                      </a>
                    </div>
                  </div>
                </app-card>
                <app-card fxFlex="0 1 calc(25% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
                  <div gdAreas="header|A |footer" gdGap="16px" gdRows="auto auto auto">
                    <div gdArea="A">
                      <a routerLink="/excess-inventory">
                        <div mat-card-image class="cardHeading card-body totalOpenOrder">
                          <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8 title2">Total Open
                            Order($)
                          </h6>
                          <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1">$144,797</h3>


                        </div>
                      </a>
                    </div>
                  </div>
                </app-card>

                <app-card fxFlex="0 1 calc(25% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
                  <div gdAreas="header|A |footer" gdGap="16px" gdRows="auto auto auto">
                    <div gdArea="A">
                      <a routerLink="/sku-performace">
                        <div mat-card-image class="cardHeading card-body totalThre">
                          <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8 title3">Total
                            Threshold Cost $
                          </h6>
                          <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1">$122,749</h3>


                        </div>
                      </a>
                    </div>
                  </div>
                </app-card>

                <app-card fxFlex="0 1 calc(25%- 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
                  <div gdAreas="header|A |footer" gdGap="16px" gdRows="auto auto auto">
                    <div gdArea="A">
                      <a routerLink="/data-table">
                        <div mat-card-image class="cardHeading card-body  totalExcess">
                          <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8 title4">Total Excess
                            Inventory $
                          </h6>
                          <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1">$93,678</h3>


                        </div>
                      </a>
                    </div>
                  </div>
                </app-card>
              </div>



            </div>


          </div>
        </div>






      </div>
      <div class="row" style="margin-top: 40px;">

        <div class="col-sm-12 col-lg-6">
          <div class="mb-3 card ">

            <div class="card-header-tab card-header">
              <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                <i class="header-icon lnr-cloud-download icon-gradient bg-happy-itmeo"> </i>
                Performance History
              </div>

              <mat-form-field style="float: right;">
                <mat-list-item style="color: white;">Category</mat-list-item>
                <select matNativeControl required ngModel name="chart" id="chartType" class="form-control"
                  (change)="onChangeChart($event)">
                  <option *ngFor="let c of charts">
                    {{c}}
                  </option>
                </select>
              </mat-form-field>

              <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutAlign="flex-start">
                <app-card fxFlex="0 1 calc(25% - 32px)" fxFlex.lt-md="0 1 calc(25% - 32px)" fxFlex.lt-sm="50%">
                  <div gdAreas="header|A |footer"  gdRows="auto auto auto">
                    <div gdArea="A">
                      <a routerLink="/overall">
                        <div mat-card-image class="cardHeading card-body ">
                          <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8 title1">COGS
                          </h6>
                          <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1">$209,344</h3>
                        </div>
                      </a>
                    </div>
                  </div>
                </app-card>
                <app-card fxFlex="0 1 calc(25% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
                  <div gdAreas="header|A |footer"  gdRows="auto auto auto">
                    <div gdArea="A">
                      <a routerLink="/excess-inventory">
                        <div mat-card-image class="cardHeading card-body ">
                          <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8 title2">ONHAND
                          </h6>
                          <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1">$384,755</h3>


                        </div>
                      </a>
                    </div>
                  </div>
                </app-card>

                <app-card fxFlex="0 1 calc(25% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
                  <div gdAreas="header|A |footer"  gdRows="auto auto auto">
                    <div gdArea="A">
                      <a routerLink="/sku-performace">
                        <div mat-card-image class="cardHeading card-body ">
                          <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8 title3">OPEN ORDER
                          </h6>
                          <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1">$277,179</h3>


                        </div>
                      </a>
                    </div>
                  </div>
                </app-card>

                <app-card fxFlex="0 1 calc(25%- 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
                  <div gdAreas="header|A |footer"  gdRows="auto auto auto">
                    <div gdArea="A">
                      <a routerLink="/data-table">
                        <div mat-card-image class="cardHeading card-body ">
                          <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8 title4">TURNS
                          </h6>
                          <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1 ">0.3</h3>


                        </div>
                      </a>
                    </div>
                  </div>
                </app-card>
              </div>



            </div>
            <!-- <div class="chartWrapper"> 
              <div class="chartAreaWrapperBarChart"> 
                <div class = "chartArreaWrapper2"> 
                 <canvas  #sourceCanvas id="sourceCanvas" height="350" width="1200"></canvas> 
              </div> 
            </div>
            <canvas #targetCanvas id="targetCanvas" height="350" width="0"></canvas> 
           </div>  -->
            <div class="chartWrapper">
              <div class="canvasHead">
                <div class="chartAreaCanvasWrapper">
                  <div class="chartAreaWrapperChart">
                    <canvas id="canvas"></canvas>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>

        <div class="col-sm-12 col-lg-6">

          <div class="row">

            <div class="col-sm-12 col-lg-6">

              <div class="mb-3 card">

                <div>
                  <canvas baseChart id="doughnutChart"></canvas>
                </div>

                <div class="card-footer pd-20">
                  <div class="row">
                    <div class="col-6">
                      <p class="tx-10 tx-uppercase tx-medium tx-color-03 tx-spacing-1 mg-b-5">OnHand
                      </p>
                      <div class="d-flex align-items-center">
                        <div class="wd-10 ht-10 rounded-circle bg-primary mg-r-5"></div>
                        <h5 class="tx-normal tx-rubik mg-b-0">331 <small class="tx-color-04">59.3%</small>
                        </h5>
                      </div>
                    </div><!-- col -->
                    <div class="col-6">
                      <p class="tx-10 tx-uppercase tx-medium tx-color-03 tx-spacing-1 tx-nowrap mg-b-5">
                        Open
                        Order
                      </p>
                      <div class="d-flex align-items-center">
                        <div class="wd-10 ht-10 rounded-circle bg-pink mg-r-5"></div>
                        <h5 class="tx-normal tx-rubik mg-b-0">227 <small class="tx-color-04">40.7%</small>
                        </h5>
                      </div>
                    </div><!-- col -->
                  </div><!-- row -->
                </div><!-- card-footer -->
              </div>

            </div>

            <div class="col-sm-12 col-lg-6">


              <div class="mb-3 card">
                <div>
                  <canvas baseChart id="doughnutChart2"></canvas>
                </div>

                <div class="card-footer pd-20">
                  <div class="row">
                    <div class="col-6">
                      <p class="tx-10 tx-uppercase tx-medium tx-color-03 tx-spacing-1 mg-b-5">Excess Cost
                      </p>
                      <div class="d-flex align-items-center">
                        <div class="wd-10 ht-10 rounded-circle bg-excess mg-r-5"></div>
                        <h5 class="tx-normal tx-rubik mg-b-0">331 <small class="tx-color-04">59.3%</small>
                        </h5>
                      </div>
                    </div><!-- col -->
                    <div class="col-6">
                      <p class="tx-10 tx-uppercase tx-medium tx-color-03 tx-spacing-1 tx-nowrap mg-b-5">
                        Threshold
                      </p>
                      <div class="d-flex align-items-center">
                        <div class="wd-10 ht-10 rounded-circle bg-thredshold mg-r-5"></div>
                        <h5 class="tx-normal tx-rubik mg-b-0">227 <small class="tx-color-04">40.7%</small>
                        </h5>
                      </div>
                    </div><!-- col -->
                  </div><!-- row -->
                </div><!-- card-footer -->
              </div>

            </div>
          </div>
        </div>





      </div>
      <!-- 
      <div class="row" style="margin-top: 20px;">

        <div class="col-sm-12 col-lg-6">
          <div class="mb-3 card">

            <div class="card-header-tab card-header">
              <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                <i class="header-icon lnr-cloud-download icon-gradient bg-happy-itmeo"> </i>
                Inventory Turns
              </div>
            </div>


            <div class="chartWrapper">
              <div class="chartAreaWrapper">
                <canvas baseChart id="line2" class="chart"></canvas>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-sm-12 col-lg-6">
          <div class="mb-3 card">

            <div class="card-header-tab card-header">
              <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                <i class="header-icon lnr-cloud-download icon-gradient bg-happy-itmeo"> </i>
                Scrollable Test
              </div>
          </div>

            <div class="chartWrapper"> 
              <div class="chartAreaWrapperBarChart"> 
                <div class = "chartArreaWrapper2"> 
                 <canvas  #sourceCanvas id="sourceCanvas" height="350" width="1200"></canvas> 
              </div> 
            </div>
            <canvas #targetCanvas id="targetCanvas" height="350" width="0"></canvas> 
           </div> 
         



          </div>
        </div>
      </div> -->
    </div>
  </div>

</body>

</html>