<!-- 

<div class="content content-fixed">

    <body ng-app="myApp" style="padding-top: 20px;">
        <div ng-controller="myCtrl">
            <label for="category" style="padding-top: 20px;">Category</label>
            <select ngModel name="category" id="category" class="form-control" (change)="onChange($event)">
                <option *ngFor="let c of cat">
                    {{c}}
                </option>
            </select>
        </div>
    </body>


    <div>
        <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
            <div class="row row-xs">
                <div>
                    <div class="row">
                        <div class="col-sm-12 col-lg-1">
                            <div class="mb-3 card">
                                <div class="card-header-tab card-header">
                                    <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                                        <i class="header-icon lnr-cloud-download icon-gradient bg-happy-itmeo"> </i>
                                        Montly Costs and Turns of Selected Categories
                                    </div>
                                </div>
                                <div style="float:left">
                                    <canvas baseChart id="canvas" class="chart"></canvas>
                                </div>

                            </div>

                        </div>

                        <div class="col-sm-12 col-lg-3">
                            <div class="mb-3 card">
                                <div>
                                    <div class="card-header-tab card-header">
                                        <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                                            <i class="header-icon lnr-cloud-download icon-gradient bg-happy-itmeo"> </i>
                                            Excess Inventory Analysis
                                        </div>
                                    </div>

                                    <div style="display: block; width: 226px; height: 228px;">
                                        <canvas baseChart id="doughnutChart" class="chart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-lg-3">
                            <div class="mb-3 card">
                                <div>
                                    <div class="card-header-tab card-header">
                                        <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                                            <i class="header-icon lnr-cloud-download icon-gradient bg-happy-itmeo"> </i>
                                            Excess Inventory Analysis
                                        </div>
                                    </div>
                                    <div style="display: block; width: 226px; height: 228px;">
                                        <canvas baseChart id="doughnutChart2" class="chart"></canvas>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-lg-2">
                            <div class="mb-3 card">
                                <div class="card-header-tab card-header">
                                    <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                                        <i class="header-icon lnr-cloud-download icon-gradient bg-happy-itmeo"> </i>
                                        Inventory Turns
                                    </div>
                                </div>
                                <div style="float:left">
                                    <canvas baseChart id="line2" class="chart"></canvas>
                                </div>

                            </div>

                        </div>

                        <div class="col-sm-12 col-lg-3">
                            <div class="mb-3 card">

                                <div class="card-header-tab card-header">
                                    <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                                        <i class="header-icon lnr-cloud-download icon-gradient bg-happy-itmeo"> </i>
                                        Total COGS vs. Avg Onhand Cost for Past 6 Months
                                    </div>
                                </div>
                                <div style="float: right;">
                                    <canvas baseChart id="barChart" class="chart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>



                <div class="row">

                    <div class="col-sm-12 col-lg-6">
                        <div class="mb-3 card">
                            <div>
                                <div class="card-header-tab card-header">
                                    <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                                        <i class="header-icon lnr-cloud-download icon-gradient bg-happy-itmeo"> </i>
                                        Dashboard B:Excess Inventory Analysis
                                    </div>
                                </div>
                                <div style="width: 250px; height: 255px; float: left;">
                                    <canvas baseChart id="doughnutChart" class="chart"></canvas>
                                </div>

                                <div style="width: 250px; height: 255px; float: left;">
                                    <canvas baseChart id="doughnutChart2" class="chart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        <div class="mb-3 card">

                            <div class="card-header-tab card-header">
                                <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                                    <i class="header-icon lnr-cloud-download icon-gradient bg-happy-itmeo"> </i>
                                    Top 10 Excess Cost
                                </div>
                            </div>
                            <div style="display: block; width: 500px; height: 355px; float:right">
                                <canvas baseChart id="canvas2" class="chart"></canvas>
                            </div>
                        </div>
                    </div>



                    <div class="col-sm-12 col-lg-6">
                        <div class="mb-3 card">

                            <div class="card-header-tab card-header">
                                <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                                    <i class="header-icon lnr-cloud-download icon-gradient bg-happy-itmeo"> </i>
                                    Excess cost by SKU
                                </div>
                            </div>
                            <div style="float:left">
                                <canvas baseChart id="stackedBarChart" class="chart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-sm-12 col-lg-6">
                        <div class="mb-3 card">

                            <div class="card-header-tab card-header">
                                <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                                    <i class="header-icon lnr-cloud-download icon-gradient bg-happy-itmeo"> </i>
                                    Dashboard C: SKU Performance Analysis
                                </div>
                            </div>

                            <div style="float: right;">
                                <canvas baseChart id="line" class="chart"></canvas>
                            </div>



                        </div>
                    </div>

                    <div class="col-sm-12 col-lg-6">
                        <div class="mb-3 card">

                            <div class="card-header-tab card-header">
                                <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                                    <i class="header-icon lnr-cloud-download icon-gradient bg-happy-itmeo"> </i>
                                    Demand Trend
                                </div>
                            </div>


                            <div>
                                <canvas baseChart id="mixedChart" class="chart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="chartContainer" style="height: 370px; width: 100%;"></div> -->
<input type="file" id="fileUpload" />
<input type="button" id="upload" value="Upload" (click)="Upload()"/>
<hr />
<div id="dvExcel"></div> 

<input type="file" name="file" (change)="selectFile($event)" />
<br>

<br>
<!-- <form (submit)="$event.preventDefault()">
    <mat-form-field>
      <mat-label>Sheet Name</mat-label>
      <input matInput (cdkAutofill)="firstNameAutofilled = $event.isAutofilled">
      <mat-hint *ngIf="firstNameAutofilled">Autofilled!</mat-hint>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Sheet name</mat-label>
      <input matInput (cdkAutofill)="lastNameAutofilled = $event.isAutofilled">
      <mat-hint *ngIf="lastNameAutofilled">Autofilled!</mat-hint>
    </mat-form-field>
  </form>
  <button type="submit" (click)="onSubmit()">Upload</button> <br> -->


  <form (submit)="onSubmit($event)">
    <div class="container">
    <div>
      <input type="text" autocomplete="off" placeholder="Sheet Name" id="sheetname">
    </div>
    <div>
      <button type="submit" id="submit">Submit</button>
    </div>
  </div>
  </form>

<!-- <div class="content content-fixed">
    <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
      <div class="d-sm-flex justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
        <div class="header">
          <h1>Excess Inventory Analysis Dashboard</h1>
        </div>
      </div>
  
      <div class="list" fxLayout="row" fxLayoutAlign="space-around center">
        <div>
          <div class="list-inline-item">
            <h5 class="tx-normal tx-rubik title1">On HAND </h5>
            <h5 class="tx-normal tx-rubik number">$380,272</h5>
          </div>
          <div class="list-inline-item">
            <h5 class="tx-normal tx-rubik title2">OPEN ORDER </h5>
            <h5 class="tx-normal tx-rubik number">$281,391</h5>
          </div>
          <div class="list-inline-item">
            <h5 class="tx-normal tx-rubik title3">THRESHOLD COST</h5>
            <h5 class="tx-normal tx-rubik number">$758,693</h5>
          </div>
          <div class="list-inline-item">
            <h5 class="tx-normal tx-rubik title4">EXCESS INVENTORY</h5>
            <h5 class="tx-normal tx-rubik number">0.3</h5>
          </div>
        </div>
      </div>
  
  
      <div flex fxLayout="row" style="margin-top: 30px;">
        <div fxFlex="50">
        <canvas id="doughnutChart"></canvas>
      </div>

      <div fxFlex="50">
        <canvas id="doughnutChart2"></canvas>
      </div>
      </div>
      <div flex fxLayout="row" style="margin-top: 30px;">
        <div fxFlex="50">
        <canvas id="canvas"></canvas>
      </div>

      <div fxFlex="120">
        <canvas id="stackedBarChart"></canvas>
      </div>
      </div>

    
  
  
  
  
  
  
  
    </div>
  </div> -->
<!-- <div 
 fxLayout="row wrap" 
 fxLayout.lt-sm="column" 
 fxLayoutGap="32px" 
 fxLayoutAlign="flex-start">
<ng-container *ngFor="let _ of [1,2,3,4,5,6]">
 <app-card 
   fxFlex="0 1 calc(25% - 32px)"
   fxFlex.lt-md="0 1 calc(50% - 32px)"
   fxFlex.lt-sm="100%"
 > 
 <div 
   gdAreas="header header header | side content content2| footer footer footer"
   gdGap="16px"
   gdRows="auto auto auto">
   <div gdArea="header">
     Header
    </div>
   <div gdArea="side">
     Side
    </div>
   <div gdArea="content">
     Content
   </div>
   <div gdArea="content2">
    Content
  </div>
   <div gdArea="footer">
     Footer
   </div>
 </div> </app-card>
</ng-container>
</div> -->




<div class="content content-fixed">
    <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
        <div class="d-sm-flex justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
            <div class="header">
                <h1>Excess Inventory Analysis Dashboard</h1>
            </div>
        </div>

        <div class="list" fxLayout="row" fxLayoutAlign="space-around center">
            <div>
                <div class="list-inline-item">
                    <h5 class="tx-normal tx-rubik title1">On HAND </h5>
                    <h5 class="tx-normal tx-rubik number">$380,272</h5>
                </div>
                <div class="list-inline-item">
                    <h5 class="tx-normal tx-rubik title2">OPEN ORDER </h5>
                    <h5 class="tx-normal tx-rubik number">$281,391</h5>
                </div>
                <div class="list-inline-item">
                    <h5 class="tx-normal tx-rubik title3">THRESHOLD COST</h5>
                    <h5 class="tx-normal tx-rubik number">$758,693</h5>
                </div>
                <div class="list-inline-item">
                    <h5 class="tx-normal tx-rubik title4">EXCESS INVENTORY</h5>
                    <h5 class="tx-normal tx-rubik number">0.3</h5>
                </div>
            </div>
        </div>


    </div><!-- container -->
</div>
<div class="row" style="margin-top: 40px;">

    <div class="col-sm-12 col-lg-6">

        <div class="mb-3 card">

            <div>
                <canvas baseChart id="doughnutChart"></canvas>
            </div>

            <div class="card-footer pd-20">
                <div class="row">
                    <div class="col-6">
                        <p class="tx-10 tx-uppercase tx-medium tx-color-03 tx-spacing-1 mg-b-5">OnHand
                        </p>
                        <div class="d-flex align-items-center">
                            <div class="wd-10 ht-10 rounded-circle bg-primary mg-r-5"></div>
                            <h5 class="tx-normal tx-rubik mg-b-0">331 <small class="tx-color-04">59.3%</small>
                            </h5>
                        </div>
                    </div><!-- col -->
                    <div class="col-6">
                        <p class="tx-10 tx-uppercase tx-medium tx-color-03 tx-spacing-1 tx-nowrap mg-b-5">
                            Open
                            Order
                        </p>
                        <div class="d-flex align-items-center">
                            <div class="wd-10 ht-10 rounded-circle bg-pink mg-r-5"></div>
                            <h5 class="tx-normal tx-rubik mg-b-0">227 <small class="tx-color-04">40.7%</small>
                            </h5>
                        </div>
                    </div><!-- col -->
                </div><!-- row -->
            </div><!-- card-footer -->
        </div>

    </div>

    <div class="col-sm-12 col-lg-6">


        <div class="mb-3 card">
            <div>
                <canvas baseChart id="doughnutChart2"></canvas>
            </div>

            <div class="card-footer pd-20">
                <div class="row">
                    <div class="col-6">
                        <p class="tx-10 tx-uppercase tx-medium tx-color-03 tx-spacing-1 mg-b-5">Excess Cost
                        </p>
                        <div class="d-flex align-items-center">
                            <div class="wd-10 ht-10 rounded-circle bg-excess mg-r-5"></div>
                            <h5 class="tx-normal tx-rubik mg-b-0">331 <small class="tx-color-04">59.3%</small>
                            </h5>
                        </div>
                    </div><!-- col -->
                    <div class="col-6">
                        <p class="tx-10 tx-uppercase tx-medium tx-color-03 tx-spacing-1 tx-nowrap mg-b-5">
                           Threshold
                        </p>
                        <div class="d-flex align-items-center">
                            <div class="wd-10 ht-10 rounded-circle bg-thredshold mg-r-5"></div>
                            <h5 class="tx-normal tx-rubik mg-b-0">227 <small class="tx-color-04">40.7%</small>
                            </h5>
                        </div>
                    </div><!-- col -->
                </div><!-- row -->
            </div><!-- card-footer -->
        </div>

    </div>
</div>

<div class="row" style="margin-top: 40px;">

    <div class="col-sm-12 col-lg-6">
        <div class="mb-3 card">

            <div class="card-header-tab card-header">
                <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                    <i class="header-icon lnr-cloud-download icon-gradient bg-happy-itmeo"> </i>
                    Excess Inventory Cost
                </div>
            </div>

            <div>
                <canvas baseChart id="canvas"></canvas>
            </div>



        </div>
    </div>

    <div class="col-sm-12 col-lg-6">
        <div class="mb-3 card">

            <div class="card-header-tab card-header">
                <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                    <i class="header-icon lnr-cloud-download icon-gradient bg-happy-itmeo"> </i>
                    Performance History
                </div>
            </div>

            <div>
                <canvas baseChart id="stackedBarChart"></canvas>
            </div>





        </div>
    </div>

  

</div>