<!-- 

<div class="content content-fixed">

    <body ng-app="myApp" style="padding-top: 20px;">
        <div ng-controller="myCtrl">
            <label for="category" style="padding-top: 20px;">Category</label>
            <select ngModel name="category" id="category" class="form-control" (change)="onChange($event)">
                <option *ngFor="let c of cat">
                    {{c}}
                </option>
            </select>
        </div>
    </body>


    <div>
        <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
            <div class="row row-xs">
                <div>
                    <div class="row">
                        <div class="col-sm-12 col-lg-1">
                            <div class="mb-3 card">
                                <div class="card-header-tab card-header">
                                    <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                                        <i class="header-icon lnr-cloud-download icon-gradient bg-happy-itmeo"> </i>
                                        Montly Costs and Turns of Selected Categories
                                    </div>
                                </div>
                                <div style="float:left">
                                    <canvas baseChart id="canvas" class="chart"></canvas>
                                </div>

                            </div>

                        </div>

                        <div class="col-sm-12 col-lg-3">
                            <div class="mb-3 card">
                                <div>
                                    <div class="card-header-tab card-header">
                                        <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                                            <i class="header-icon lnr-cloud-download icon-gradient bg-happy-itmeo"> </i>
                                            Excess Inventory Analysis
                                        </div>
                                    </div>

                                    <div style="display: block; width: 226px; height: 228px;">
                                        <canvas baseChart id="doughnutChart" class="chart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-lg-3">
                            <div class="mb-3 card">
                                <div>
                                    <div class="card-header-tab card-header">
                                        <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                                            <i class="header-icon lnr-cloud-download icon-gradient bg-happy-itmeo"> </i>
                                            Excess Inventory Analysis
                                        </div>
                                    </div>
                                    <div style="display: block; width: 226px; height: 228px;">
                                        <canvas baseChart id="doughnutChart2" class="chart"></canvas>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-lg-2">
                            <div class="mb-3 card">
                                <div class="card-header-tab card-header">
                                    <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                                        <i class="header-icon lnr-cloud-download icon-gradient bg-happy-itmeo"> </i>
                                        Inventory Turns
                                    </div>
                                </div>
                                <div style="float:left">
                                    <canvas baseChart id="line2" class="chart"></canvas>
                                </div>

                            </div>

                        </div>

                        <div class="col-sm-12 col-lg-3">
                            <div class="mb-3 card">

                                <div class="card-header-tab card-header">
                                    <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                                        <i class="header-icon lnr-cloud-download icon-gradient bg-happy-itmeo"> </i>
                                        Total COGS vs. Avg Onhand Cost for Past 6 Months
                                    </div>
                                </div>
                                <div style="float: right;">
                                    <canvas baseChart id="barChart" class="chart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>



                <div class="row">

                    <div class="col-sm-12 col-lg-6">
                        <div class="mb-3 card">
                            <div>
                                <div class="card-header-tab card-header">
                                    <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                                        <i class="header-icon lnr-cloud-download icon-gradient bg-happy-itmeo"> </i>
                                        Dashboard B:Excess Inventory Analysis
                                    </div>
                                </div>
                                <div style="width: 250px; height: 255px; float: left;">
                                    <canvas baseChart id="doughnutChart" class="chart"></canvas>
                                </div>

                                <div style="width: 250px; height: 255px; float: left;">
                                    <canvas baseChart id="doughnutChart2" class="chart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        <div class="mb-3 card">

                            <div class="card-header-tab card-header">
                                <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                                    <i class="header-icon lnr-cloud-download icon-gradient bg-happy-itmeo"> </i>
                                    Top 10 Excess Cost
                                </div>
                            </div>
                            <div style="display: block; width: 500px; height: 355px; float:right">
                                <canvas baseChart id="canvas2" class="chart"></canvas>
                            </div>
                        </div>
                    </div>



                    <div class="col-sm-12 col-lg-6">
                        <div class="mb-3 card">

                            <div class="card-header-tab card-header">
                                <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                                    <i class="header-icon lnr-cloud-download icon-gradient bg-happy-itmeo"> </i>
                                    Excess cost by SKU
                                </div>
                            </div>
                            <div style="float:left">
                                <canvas baseChart id="stackedBarChart" class="chart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-sm-12 col-lg-6">
                        <div class="mb-3 card">

                            <div class="card-header-tab card-header">
                                <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                                    <i class="header-icon lnr-cloud-download icon-gradient bg-happy-itmeo"> </i>
                                    Dashboard C: SKU Performance Analysis
                                </div>
                            </div>

                            <div style="float: right;">
                                <canvas baseChart id="line" class="chart"></canvas>
                            </div>



                        </div>
                    </div>

                    <div class="col-sm-12 col-lg-6">
                        <div class="mb-3 card">

                            <div class="card-header-tab card-header">
                                <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                                    <i class="header-icon lnr-cloud-download icon-gradient bg-happy-itmeo"> </i>
                                    Demand Trend
                                </div>
                            </div>


                            <div>
                                <canvas baseChart id="mixedChart" class="chart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="chartContainer" style="height: 370px; width: 100%;"></div> -->

<style>
    .cardList {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
    /* Column Gap */
    .cardList > * {
      box-sizing: border-box;
    }
    .cardList > *:not(:last-child) {
      margin-right: 32px;
    }
    /* Item sizing */
    .cardListItem {
      flex: 0 1 calc(33.3% - 32px);
    }
    /* medium size viewport */
    @media screen and (max-width: 959px) {
      /* Column Gap */
      .cardList > *:not(:last-child) {
        margin-right: 32px;
      }
      /* Item sizing */
      .cardListItem {
        flex: 0 1 calc(50% - 32px);
      }
    }
    /* small size viewport */
    @media screen and (max-width: 599px) {
      .cardList {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
      }
      .cardList > *:not(:last-child) {
        margin-right: unset;
        margin-bottom: 32px;
      }
    }

    .cardInner {
    display: grid;
    grid-template-areas: "header header" "side content" "footer footer";
    grid-template-rows: auto auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
  }

  .img {
  width: 100%;
  margin-bottom: 18%;
}
.card-picture {
  width: 23%;
  margin-bottom: 2%;
}
.container {
  min-height: 100%;
  width: 100%;
}
.search-form {
  width: 90%;
}


  </style>
 <div 
 fxLayout="row wrap" 
 fxLayout.lt-sm="column" 
 fxLayoutGap="32px" 
 fxLayoutAlign="flex-start">
<ng-container *ngFor="let _ of [1,2,3,4,5,6]">
 <app-card 
   fxFlex="0 1 calc(25% - 32px)"
   fxFlex.lt-md="0 1 calc(50% - 32px)"
   fxFlex.lt-sm="100%"
 > 
 <div 
   gdAreas="header header header | side content content2| footer footer footer"
   gdGap="16px"
   gdRows="auto auto auto">
   <div gdArea="header">
     Header
    </div>
   <div gdArea="side">
     Side
    </div>
   <div gdArea="content">
     Content
   </div>
   <div gdArea="content2">
    Content
  </div>
   <div gdArea="footer">
     Footer
   </div>
 </div> </app-card>
</ng-container>
</div>


<mat-form-field class="search-form">
    <input matInput placeholder="Search Picture" type="text">
  </mat-form-field>
  <button button="submit" mat-raised-button color="primary">Search</button>
  <br>
  
  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    <mat-card class="card-picture" *ngFor="let picture of pictures">
      <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
        <span fxFlex="80%">{{picture.title}}</span>
        <mat-icon fxFlex="10%">mode_edit</mat-icon>
        <mat-icon fxFlex="10%">delete</mat-icon>
      </mat-card-title>
      <img mat-card-image [src]="picture.img">
    </mat-card>
  </div>