
<html>
  <body >
<div class="content content-fixed">
    <nav class="navbar navbar-expand-lg  bg-light">
      <a class="navbar-brand" href="#" style="color:black">Individual item details</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <div class="btn-group" role="group" aria-label="Basic example">

            <mat-button-toggle-group #group="matButtonToggleGroup" multiple=true>
              <mat-button-toggle *ngFor="let item of toggleOptions;" (change)="selectionChanged($event)" [value]="item">{{item}}</mat-button-toggle>
            </mat-button-toggle-group>
            <!-- <button type="submit" class="btn btn-secondary" value=6>Past 6 months</button>
            <button type="submit" class="btn btn-secondary" value=12>Past 1 year</button>
            <button type="submit" class="btn btn-secondary" value=24>Past 2 year</button> -->
          </div>
        </form>
      </div>
    </nav>
  </div>
<div class="row" style="margin-top: 40px;">

    <div class="col-sm-12 col-lg-6">
        <div class="mb-3 card">

            <div class="card-header-tab card-header">
                <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                    <i class="header-icon lnr-cloud-download icon-gradient bg-happy-itmeo"> </i>
                    Performance History
                </div>
            </div>

         
            

            <div>
                <canvas baseChart id="mixedChart2" class="chart"></canvas>
            </div>



        </div>
    </div>

    <div class="col-sm-12 col-lg-6">
        <div class="mb-3 card">

            <div class="card-header-tab card-header">
                <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                    <i class="header-icon lnr-cloud-download icon-gradient bg-happy-itmeo"> </i>
                    Demand Trend
                </div>
            </div>


            <div>
                <canvas baseChart id="mixedChart" class="chart"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 40px;">

    <div class="col-sm-12 col-lg-213">
        <div class="mb-3 card">

            <div class="card-header-tab card-header">
                <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                    <i class="header-icon lnr-cloud-download icon-gradient bg-happy-itmeo"> </i>
                    Performance History
                </div>
            </div>

            <div>
                <canvas baseChart id="line"></canvas>
            </div>



        </div>
    </div>

</div>
</body>
</html>





